/* -------------------NavBar styling------------------------- */

.navbar-nav {
    margin-left: 67%;
    color: white;
}

.navbar-brand {
    margin-left: 20px;
    white-space: 2px;   
}

.nav-item {
    padding: 15px;
}

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

/* -------------------About Me page------------------------- */

.aboutText {
    font-size: 20px;
    padding: 10px;
}

.markus {
    max-width: 25%;
    max-height: 20%;
}

/* -------------------Projects page------------------------- */

.image {
    max-width: 25%;
    max-height: 20%;
    border-style: inset;
    border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
}

.projectImg:hover {
    opacity: 30%;
}

.projectTitle {
    text-decoration: underline;
}

/* -------------------Contact Me page------------------------- */

.contactTitle {
    text-decoration: underline;
}

.contactLink {
    color: black;
}
